@use "../../style.scss" as *;

.section-hero {
  background-color: $white-color;
  padding: 3.2rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  // height: 100vh;

  margin: 0 auto;
  padding: 0 8rem;

  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 3.2rem 8rem;
  align-items: center;
}

.hero-text-box {
  // display: flex;
  // flex-direction: column;

  .heading-primary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 2.4rem;
  }

  .hero-description {
    font-size: 2.4rem;
    line-height: 1.4;
    // margin-bottom: 4.8rem;
  }
}

.hero-img-box {
  // position: relative;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.5s;

  &:hover {
    background-color: #f8f9fa;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  }
  .hero-img {
    background-color: transparent;
    width: 100%;
    // z-index: 10;
  }
}

.social-media-box {
  .social-media-icon {
    list-style: none;
    display: flex;
    gap: 4.8rem;
    justify-content: center;

    .social-icon {
      color: $grey-color-dark-3;
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}
