@use "../../style.scss" as *;

.section-skills {
  padding: 6.4rem 0 4.8rem;
  .container {
    max-width: 120rem;
    padding: 0 9.6rem;
    margin: 0 auto;
  }
}

.heading-skills-in {
  color: $main-color;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
}

.skills-description {
  font-size: 3rem;
  font-weight: 600;

  margin-bottom: 3.2rem;
  text-align: center;
}

.logos {
  padding: 0 9.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 0;
  justify-items: center;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 4.5rem;
      filter: brightness(0);
      opacity: 50%;
      margin-bottom: 1rem;
    }

    span {
      text-align: center;
      font-weight: 600;
      font-size: 1.2rem;
      color: $grey-color-dark-2;
      transition: all 0.3s;
    }

    &:hover span {
      color: $main-color;
    }
  }
}
