@use "./style.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: $fontfamily-inter;
  line-height: 1;
  font-size: $font-size-default;
  font-weight: 400;
  color: $grey-color-dark-2;

  overflow-x: hidden;
}
