/*------ Typography ------*/
$fontfamily-lora: "Lora", serif;
$fontfamily-open-sans: "Open Sans", sans-serif;
$fontfamily-inter: "Inter", sans-serif;

$font-size-default: 1.6rem;

$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

/*------ COLOR ------*/
$white-color: #fff;

$main-color: #74c0fc;

$main-color-light-1: #a5d8ff;
$main-color-light-2: #d0ebff;
$main-color-light-3: #e7f5ff;

$main-color-dark-1: #4dabf7;
$main-color-dark-2: #339af0;
$main-color-dark-3: #228be6;

$grey-color: #adb5bd;
$grey-color-light-1: #ced4da;
$grey-color-light-2: #dee2e6;
$grey-color-light-3: #e9ecef;

$grey-color-dark-1: #868e96;
$grey-color-dark-2: #495057;
$grey-color-dark-3: #343a40;

/*  
--- Font sizes (px)  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */
